<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workout Logger</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>Workout Logger</h1>

<!-- Button Container -->
<div class="button-row">
    <a href="/templates"><button>Manage Workout Templates</button></a>
    <a href="/templates"><button>View Workout Templates</button></a>
    <a href="/templates/create"><button>Create New Template</button></a>
    <form action="/workout-sessions/start" method="post">
        <button type="submit">Start Workout</button>
    </form>
    <a href="/history"><button>Workout History</button></a>
</div>

</body>
</html>
